<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Importa as configurações de cabecalho -->

<head th:insert="layout/cabecalho">
<link rel="stylesheet" href="estilo.css">
	<link rel="icon" href="img/stoc.png">
	<title>Lista de Funcionarios</title>
	<!-- Importa o cabecalho -->
</head>



	<d class = "imag">

	<img id="imag" src="img/stoc.svg">  
	
</d>
<hr>

	<d th:insert="layout/menu">

	</d>
	

	<div class="container">
		<!-- Importa o menu padrão do sistema -->
	
		<br>
		<h1>
		
			<center><p2 class="p2">Lista de Itens</p2></center>
		</h1>
		
		<b>

		<a href="/cadastraritem" class="btn btn-info" role="button">Novo Item</a></center>

		</b>
		

		<!-- Retorna uma mensagem na tela para o usuário após a operação -->

		<!-- Recebe a mensagem de retorno da operação e a configuração do tipo da mensagem do controller -->
		<div th:classappend="${mensagem == null ? '' : ''}">
			<div th:classappend="${tipo_mensagem}">
				<td th:text="${mensagem}"></td>
			</div>
		</div>


		<table class="table table-sm table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th class="col-2">Nome do item</th>
					<th class="col-2">Quantidade</th>
					<th class="col-2">Descricao</th>
					<th class="col-1">Localizar</th>
					<th class="col-1">Excluir</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${consulta}">
				
					<td th:text="${item.nome}"></td>
					
					<td th:text="${item.quantidade}"></td>

					<td th:text="${item.descricao}"></td>

					<td th:text="${item.localizar}"></td>

						<td>
						<a class="delete btn btn-sm btn-danger" th:href="@{deletar_item/{id}(id=${item.IdItem})}"
							onclick="if (confirm('Deseja realmente excluir o item?')){return true;}else{event.stopPropagation(); event.preventDefault();};">Excluir</a>
					</td>

				</tr>
			</tbody>
		</table>

	
		

	</div>


</body>

</html>