<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Importa as configurações de cabecalho -->

<head th:insert="layout/cabecalho">
	<link rel="stylesheet" href="estilo.css">
	<link rel="icon" href="img/stoc.png">
	<title>Movimentação de itens</title>
	<!-- Importa o cabecalho -->
</head>



<d class="imag">

	<img id="imag" src="img/stoc.svg">

</d>
<hr>

<d th:insert="layout/menu">

</d>


<div class="container">
	<!-- Importa o menu padrão do sistema -->

	<br>
	<h1>
		<center>
			<p2 class="p2">Movimentação de Itens</p2>
		</center>
	</h1>
	
		<table class="table table-sm table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th class="col-2">Código da movimentação</th>
				<th class="col-2">Código do pedido</th>
				<th class="col-2">Código do item</th>
				<th class="col-2">Data de entrada</th>
				<th class="col-2">Data de saída</th>
                <th class="col-2">Quantidade de entrada</th>
                <th class="col-2">Quantidade de saída</th>
			</tr>
		</thead>
		<tbody>
			<th:each="movimentacao:${histmovimentacao}">
              <tr>
				<td th:text="${movimentacao.id_movimentacao}"></td>
				
			    <td th:text="${movimentacao.id_pedido}"></td>

				<td th:text="${movimentacao.cod_item}"></td>

				<td th:text="${movimentacao.cod_dataentrada}"></td>

				<td th:text="${movimentacao.cod_datasaida}"></td>
				
				<td th:text="${movimentacao.cod_quantentrada}"></td>
				
				<td th:text="${movimentacao.cod_quantsaida}"></td>
			</tr>
		</tbody>
	</table>
</div>
</html>
	
	