<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>STOC Home</title>
	<link rel="stylesheet" href="estilo.css">
	<link rel="icon" href="img/stoc.png">
</head>

<body>

	<d class="imag">

		<img id="imag" src="img/stoc.svg">

	</d>
	<hr>

	<d th:insert="layout/menu">

	</d>
	<style>
		footer {
			position: absolute;
			bottom: 0;
			background-color: cadetblue;
			color: #FFF;
			width: 99%;
			height: 99;
			text-align: center;
			line-height: 25px;
		}

		div {
			border-radius: 30px;
			background-color: #f2f2f2;
			padding: 50px;
			width: 30%;
		}


		.p2 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 30px;
			font-weight: bold;
		}


		h1 {

			color: cadetblue;
		}

		div {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

	<body>

		<center>
			<h1>
				<p class="p2">Bem vindo ao
			</h1>
		</center>
		<div>
			<center>
				<p class="p2"> <label for="stoc">S.T.O.C</label>
			</center>
			<center>
				<p class="p2"> <label for="stoc"> Sistema de Organização e Controle de Estoque</label>
			</center>
		</div>


		<footer>
			<p class="p3">&copy; Todos os direitos reservados</p>
		</footer>
	</body>

</html>