<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout/cabecalho">
	<meta charset="utf-8">
	<link rel="stylesheet" href="estilo.css">
	<link rel="icon" href="img/stoc.png">
	<title>Relatório de Fornecedores</title>
</head>
<d class="imag">
	<img id="imag" src="img/stoc.svg">
</d>
<hr>
<d th:insert="layout/menu">
</d>
<div class="container" color="black">
	<form class="form-horizontal" method="GET" style="margin:10px">
		<table class="table table-sm table-striped table-hover table-bordered">
			<br>
			<h1>
				<center>
					<p2 class="p2">Relatório de Fornecedores</p2>
				</center>
			</h1>
			<div th:classappend="${mensagem == null ? '' : ''}">
				<div th:classappend="${tipo_mensagem}">
					<td th:text="${mensagem}"></td>
				</div>
			</div>
			<form class="form-horizontal" method="GET" style="margin:10px">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th class="col-2">Nome</th>
							<th class="col-2">Empresa</th>
							<th class="col-2">Email</th>
							<th class="col-1">Número</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="fornecedor:${lista_fornecedores}">
							<td th:text="${fornecedor.nome}"></td>
							<td th:text="${fornecedor.empresa}"></td>
							<td th:text="${fornecedor.email}"></td>
							<td th:text="${fornecedor.numero}"></td>
						</tr>
					</tbody>
				</table>
			</form>

		<style type="text/css">
			
			@media print {
				#noprint { display: none; }
				button { opacity: 0%; }
			}
		</style>
			
		<button onClick="window.print()" class="btn btn-primary mb-2 mr-2"  onChange="hidden"> Imprimir/Salvar PDF </button>

</div>

</body>
</html>
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Importa as configurações de cabecalho -->


<link rel="icon" href="img/stoc.png">
<title>Relatório de Fornecedores</title>

<head th:insert="layout/cabecalho">
<link rel="stylesheet" href="estilo.css">
</head>

<d class="imag">
	<img id="imag" src="img/stoc.svg">
</d>

<hr>

<d th:insert="layout/menu">
</d>

<div class="container">

<br><h1>
	<center>
		<p2 class="p2">Relatório de Fornecedores</p2>
	</center>
	</h1>

	<div th:classappend="${mensagem == null ? '' : ''}">
		<div th:classappend="${tipo_mensagem}">
			<td th:text="${mensagem}"></td>
		</div>
	</div>


	<table class="table table-sm table-striped table-hover table-bordered">

		<thead>
			<tr>
				<th class="col-2">Nome</th>
				<th class="col-2">Empresa</th>
				<th class="col-2">Email</th>
				<th class="col-1">Número</th>
				<th class="col-1">Excluir</th>
			</tr>

		</thead>

		<tbody>
			<tr th:each="fornecedor:${lista_fornecedores}">

				<td th:text="${fornecedor.nome}"></td>

				<td th:text="${fornecedor.empresa}"></td>

				<td th:text="${fornecedor.email}"></td>

				<td th:text="${fornecedor.numero}"></td>
			</tr>

		</tbody>

	</table>

		<style type="text/css">
			
			@media print {
				#noprint { display: none; }
				button { opacity: 0%; }
			}
		</style>
			
		<button onClick="window.print()" class="btn btn-primary mb-2 mr-2"> Imprimir/Salvar PDF </button>


</div>
</body>
</html>
